body{
    background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(backdrop.jpg);
    background-size: cover;
    background-position: center;
    
}

.login-box{
    max-width:700px;
    text-align:center;

    float:none;
    margin: auto;
}

.login-main{

    background: rgba(211,211,211,0.5);
    padding:30px;
    border:3px solid white;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
}

.login-right{
    background:#fff;
    padding:30px;
    
    
}

.form-control{
    background-color: transparent;

}

a{
    color:#fff;

    
}

h3{
    color:#fff;
    margin-top: 500px;
    text-align:center;
}
